.typography_wrapper {
    display: flex;
    padding: 170px 0px;
}

.typography_item {
    width:45%;
    columns: #000000;;
    text-align: center;
}
                      
.typography_item .typography_outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.typography_item .typography_inner { 
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.typography_item .typography_inner:hover {
    background: green;
}

.typography_item .typography_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.typography_item .typography_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.typography_item .typography_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.typography_item .typography_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

..typography_item .typography_desc .position{
    position:center;
}